@font-face {
    font-family: Nintendo;
    src: url(CrotahFreeVersionItalic-z8Ev3.ttf);
}

html {
    background-image: url(images/jungl.png);
    background-size: cover;
    font-family: Nintendo;
}


header {
    display: flex;
    justify-content: center;
    
}

h1{
    font-family: 'Rubik Burned', system-ui;
    color: white;
    padding: 1%;
    font-size: 6vh;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 5px white;
    border-radius: 7px;
    width: 40vw;
    height: 90vh;
    backdrop-filter: blur(10px);
}

.age{
    border-radius: 10px;
    background-color: skyblue;
    padding: 5px;
    margin-top: 10px;
}

label{
    padding-top: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

#image-gallery > img {
    width : 15%;
}
#image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 10%;
    }
.select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .input-file {
        position: relative;
        overflow: hidden;
    }
    
    .input-file input[type="file"] {
        position: absolute;
        font-size: 100px;
        opacity: 0;
        right: 0;
        top: 0;
    }
    
    .input-file label {
        display: inline-block;
        padding: 10px 15px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    
    
    
    #image-preview {
        margin-top: 10px;
    }