{{define "accueil"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/accueil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&display=swap" rel="stylesheet">
</head>
<body>
<h1>Survivors</h1>
    <div class="container">
        <a class="selection" href="/create">Créer un personnage</a>
        <a class="selection" href="/persos">Personnages</a>
    </div>
</body>
</html>
{{end}}